.theme1 .createBookModal .title {
  text-align: center;
  margin-top: 0px;
}
.theme1 .createBookModal .ngdialog-content {
  position: fixed;
  width: 500px;
  height: 275px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -137.5px;
  padding: 1.8em 2em;
}
.theme1 .createBookModal .ngdialog-close {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.theme1 .createBookModal .create {
  margin-top: 20px;
  float: left;
}
.theme1 .createBookModal .row {
  display: block;
}
.theme1 .createBookModal .row input,
.theme1 .createBookModal .row select {
  margin-left: 5px;
}
